
    RewriteEngine on
    # Se um arquivo ou diretório existe, usa a solicitação diretamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Caso contrário, redireciona para index.php
    RewriteRule . index.php